$total-columns  : 7;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter;

$break          : 12;

.page-width {
  width: $pageWidth;
  margin-left: auto;
  margin-right: auto;
  @extend %clearfix;
}

// .main {
//   @include container($total-columns, $break);
//   @include susy-grid-background;
// }

// @include at-breakpoint($break) {
//   .main {
//     @include susy-grid-background;
//   }
// }